@import "../../mixins.scss";

.sectionCartDeatils {
    padding: 20px 0;

    @include md {
        padding: 40px 0;
    }

    h4 {
        margin-bottom: 20px;

        @include md {
            margin-bottom: 40px;
        }
    }

    .d-flex+.d-flex {
        margin-top: 30px;
    }

    .d-flex {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        img {
            min-width: 80px;
            max-width: 80px;

            @include xsm {
                min-width: 120px;
                max-width: 120px;
            }
        }

        .detailsBox {
            position: relative;
            width: 100%;

            p {
                max-width: 90%;
                margin-bottom: 8px;

                @include xsm {
                    max-width: 95%;
                }

                span {
                    font-weight: 600;
                }

                input {
                    max-width: 70px;
                    font-size: 20px;
                    padding: 0 5px;
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                border: none;
                outline: none;

                img {
                    width: max-content;
                    height: auto;
                    min-width: 20px;
                }
            }
        }
    }

    .empty {
        text-align: center;

        img {
            display: block;
            max-height: 200px;
            margin: 0 auto 24px auto;
        }

        p {
            font-size: 18px;
            color: var(--lightRed);
            font-weight: 600;
        }
    }

    .cartTotal {
        margin-top: 30px;

        .row {
            flex-direction: row-reverse;
        }

        h5 {
            margin-bottom: 40px;
        }

        .total-box {
            padding: 24px;
            background: #eee;

            p {
                margin-top: 16px;
                margin-bottom: 16px;
                font-size: 14px;

                @include xxsm {
                    font-size: 16px;
                }

                @include md {
                    margin-bottom: 24px;
                }
            }

            .d-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin-bottom: 0;
                    margin-top: 0;

                    span {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }

            span {
                font-weight: 600;
                font-size: 18px;
            }

            .d-flex+.d-flex {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid var(--black);
            }
        }
    }

    .promoCode {
        margin-bottom: 24px;
        padding-top: 24px;
        border-top: 2px solid var(--lightRed);

        @include lg {
            border-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            margin-left: 24px;

        }

        p {
            margin-bottom: 14px;
            color: var(--black);
            font-size: 14px;

            @include xxsm {
                font-size: 16px;
            }

            @include lg {
                margin-bottom: 24px;
            }

            span {
                color: var(--lightRed);
                font-weight: 600;
            }
        }

        form {
            display: flex;
            align-items: center;
        }

        input[type="text"] {
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 600;
            color: var(--lightRed);
            width: 100%;
        }

        input[type="submit"] {
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 600;
            background: var(--lightRed);
            color: var(--white);
            border: 2px solid var(--lightRed);
            margin-left: -2px;

            &:hover {
                transition: all 0.4s;
                background: var(--black);
                border: 2px solid var(--black);
            }
        }
    }
}