@import "../../mixins.scss";

.cta-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    background: var(--lightRed);
    color: var(--white);
    border-radius: 30px;
    text-transform: capitalize;
    padding: 6px 20px;

    @include md {
        padding: 10px 30px;
    }

    &:hover {
        background: var(--black);
    }
}